llama-cpp-python
kp
PyQt6~=6.6.1
ollama~=0.1.8
huggingface-hub
torch~=2.2.2
transformers 
torchvision~=0.17.2
pynput~=1.7.6
pymongo~=4.6.3
pyautogui~=0.9.54
rpa
pytesseract~=0.3.10
pillow
opencv-python~=4.9.0.80
numpy~=1.26.4
keyboard~=0.13.5
pandas~=2.2.1
keras~=3.1.1
scikit-learn~=1.4.1.post1
tensorflow